vimrc-single-file

todo
directories
sessions
spell/*

configuration/disabled
configuration/unused
plugin/plugin-configuration-coc.vim
plugin/plugin-configuration-you-complete-me.vim

bundles/disabled*
bundles/available*
pack/plugins/disabled*
pack/plugins/start/git-supertab
pack/plugins/start/git-YouCompleteMe
pack/plugins/start/git-coc.nvim


*OLD*
*pyc

YouCompleteMe/ycmd-obi
