vimrc-single-file

directories
spell/*
pack/plugins/bundle*
pack/plugins/disabled*
YouCompleteMe/ycmd-obi

pack/plugins/start/git-supertab
pack/plugins/start/git-YouCompleteMe
plugin/plugin-configuration-coc.vim
pack/plugins/start/git-coc.nvim
plugin/plugin-configuration-you-complete-me.vim

plugin-disabled
plugin-unused
*OLD*
*pyc
